services:
  wordpress:
    build: .
    image: wordpress:6.8.3-php8.4-apache
    ports:
      - ${LOCAL_PORT_WEB}:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: root
      WORDPRESS_DB_NAME: wordpress
      WORDPRESS_TABLE_PREFIX: wp_
      WORDPRESS_DEBUG: 1
      WORDPRESS_CONFIG_EXTRA: |
        /* Extra settings for WP */
        define( 'FS_METHOD', 'direct' );
        define( 'THEME_ENV', '${THEME_ENV}' );
        define( 'WPMDB_LICENCE', '${WPMDB_LICENCE}' );
        define( 'GF_LICENSE_KEY', '${GF_LICENSE_KEY}' );
        define( 'SENTRY_DSN_PHP', '${SENTRY_DSN_PHP}' );
        define( 'SENTRY_DSN_JS', '${SENTRY_DSN_JS}' );
      VITE_DEV_SERVER_PORT: ${VITE_DEV_SERVER_PORT}
    volumes:
      - "${MASTER_PATH}/wp-content/themes/${THEME_NAME}:/var/www/html/wp-content/themes/${THEME_NAME}"
      - "./uploads.ini:/usr/local/etc/php/conf.d/uploads.ini"
      - ./:/var/www/html
  db:
    image: mariadb
    environment:
      MARIADB_DATABASE: wordpress
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin:latest
    ports:
      - ${LOCAL_PORT_PHPMYADMIN}:80
    links:
      - db:db
  composer:
    image: composer:latest
    volumes:
      - ./wp-content/themes/${THEME_NAME}/composer.json:/var/www/html/wp-content/themes/${THEME_NAME}/composer.json
      - ./wp-content/themes/${THEME_NAME}/composer.lock:/var/www/html/wp-content/themes/${THEME_NAME}/composer.lock
      - ./wp-content/themes/${THEME_NAME}/vendor:/var/www/html/wp-content/themes/${THEME_NAME}/vendor
    working_dir: /var/www/html/wp-content/themes/${THEME_NAME}
    command: ["composer", "install", "--ignore-platform-reqs"]
  wp-cli:
    image: wordpress:cli-php8.0
    environment:
      WORDPRESS_DB_USER: root
      WORDPRESS_DB_PASSWORD: root
      WORDPRESS_DB_HOST: db
    volumes:
      - ./:/var/www/html
  notifier:
    image: alpine
    depends_on:
      - wordpress
      - db
      - phpmyadmin
    command:
      /bin/sh -c "sleep 3; \
      echo '─────────────── ${THEME_NAME} ─────────────────';\
      echo 'WordPress site running at :';\
      echo 'http://localhost:${LOCAL_PORT_WEB}\/';\
      echo 'http://localhost:${LOCAL_PORT_WEB}\/wp-admin\/';\
      echo 'PhpMyAdmin running at :'; \
      echo 'http://localhost:${LOCAL_PORT_PHPMYADMIN}/';
      echo '─────────────── ${THEME_NAME} ─────────────────';"

volumes:
  wordpress:
  db:
  composer:
